.DS_Store
.Rproj.user
.RData
.RHistory
node_modules
primes_7z/primes_101*
primes_7z/primes_102*
primes_7z/primes_103*
primes_7z/primes_104*
primes_7z/primes_105*
primes_7z/primes_106*
primes_7z/primes_107*
primes_7z/primes_108*
primes_7z/primes_109*
primes_7z/primes_11*
primes_7z/primes_12*
primes_7z/primes_13*
primes_7z/primes_14*
primes_7z/primes_15*
primes_7z/primes_16*
primes_7z/primes_17*
primes_7z/primes_18*
primes_7z/primes_19*
primes_7z/primes_2*
presentation
report
